<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.user.mapper.UserMapper">
    <select id="findByUserId" resultType="com.example.demo.user.model.User">
        SELECT * FROM tb_user WHERE id = #{id}
    </select> 

    <select id="nameCheck" resultType="String">
        SELECT COUNT(name) FROM tb_user WHERE name = #{name}
    </select> 
    
    <update id="update">
    	UPDATE tb_user
    	SET name = #{name},
    	    part = #{part}
    	WHERE id = #{id}
    </update>
</mapper>